* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(https://img.huffingtonpost.com/asset/5ce823ee210000b40ed0f302.jpeg?ops=1778_1000) center/cover;
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
body h1 {
  font-size: 4.5rem;
  margin: 1rem 0 2rem;
  font-weight: 100;
  color: #222;
  text-shadow: 4px 2px 0 rgba(51, 51, 51, 0.452);
}
body #searchInput {
  height: 2rem;
  width: 300px;
  border: none;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px #333;
  font-size: 1.2rem;
}
body #searchInput {
  transition: 0.2s ease;
}
body #searchInput:focus {
  background: rgb(205, 123, 55);
  color: white;
  font-weight: 400;
}

body #results {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
body .noResult {
  font-size: 4rem;
}
body .searchContainer {
  flex: 1 0 18%;
  background: rgba(128, 128, 128, 0.4);
  margin: 0.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px #333;
}
body .searchContainer .infos {
  font-weight: 600;
  margin: 1rem 0;
}
body .searchContainer img {
  width: 90%;
  max-width: 250px;
  border-radius: 30px;
  box-shadow: 0 4px 4px #222;
  margin-bottom: 1rem;
}
body .searchContainer a {
  display: inline-block;
}
body .searchContainer a i {
  font-size: 1.4rem;
}

